
body {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    height: 8vh;
    width: auto;
    padding: 0 64px;
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
    align-items: center;
    justify-content: space-between;
}

ul {
    padding: 0;
}

.links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    color: rgb(233, 196, 106);
    text-decoration: none;
}

.banner {
    display: flex;
    height: 20vh;
    width: auto;
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
}

.bigtext{
    padding: 16px;
    color: rgb(233, 196, 106);
    justify-content: center;

}

.subtext {
    padding: 16px;
    color: rgb(233, 196, 106);
}

img {
    height: 18vh;
    width: auto;
}