
body {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

.logo {
    font-family: "Bungee";
    font-size: 3vh;
}

.header {
    display: flex;
    height: 8vh;
    width: auto;
    padding: 0 64px;
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
    align-items: center;
    justify-content: space-between;
}

ul {
    padding: 0;
}

.links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    color: rgb(233, 196, 106);
    text-decoration: none;
}

a:hover {
    color: rgb(231, 111, 81);
    transition-duration: 0.3s;
}

.banner {
    display: flex;
    height: 30vh;
    width: auto;
    padding: 16px;
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
    justify-content: space-around;
}

.container {
    width: 375px;
}

.bigtext{
    padding: 16px;
    color: rgb(233, 196, 106);
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.subtext {
    padding: 24px;
    color: rgb(233, 196, 106);
    text-align: center;
}

img {
    display: block;
    height: 25vh;
    box-shadow: 0 0 10px 4px rgba(233, 196, 106, 0.5);
    border-radius: 9px;
}

.centered-button {
    text-align: center;
    border: 0;
}

button {
    background-color: rgb(233, 196, 106);
    color: rgb(38, 70, 83);
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    border: 0;
    padding: 8px;
    border-radius: 4px;
    border: 5px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: rgb(231, 111, 81);
    box-shadow: 0 0 4px 4px rgb(233, 196, 106);
    color: rgb(233, 196, 106);
}

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    background: rgba(233, 196, 106, 0.6);
    color: rgb(38, 70, 83);
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
}

.image__overlay:hover {
    opacity: 1;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0.25em;
}

.info-title {
    background-color: rgb(42, 157, 143);
    color: rgb(233, 196, 106);
    font-family: "Bungee";
    font-size: 1.5em;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.info-container {
    background-color: rgb(42, 157, 143);
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 32px;
}

.info {
    max-width: 125px;
}

.square-img {
    height: 125px;
    width: 125px;
    box-shadow: 0 0 10px rgb(231, 111, 81);
}

.illustration-text {
    color: rgb(233, 196, 106);
    font-size: 0.75em;
    border-radius: 4px;
    margin-top: 16px;
    padding-bottom: 24px;
    text-align: center;
}

.quote {
    background-color: rgb(233, 196, 106);
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 200px;
    padding-right: 200px;
}

.quote-text {
    color: rgb(231, 111, 81);
    font-size: 24px;
    padding-bottom: 16px;
}

.author {
    text-align: center;
    color: rgb(231, 111, 81);
}

.bottom-container {
    background-color: rgb(42, 157, 143);
    color: rgb(233, 196, 106);
    padding: 64px;
    padding-left: 128px;
    padding-right: 128px;
}

.bottom-text-container {
    background-color: rgb(38, 70, 83);
    padding-top: 64px;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 64px;
    text-align: center;
    border-radius: 8px;
}

.bottom-text-title {
    font-family: "Bungee";
    font-size: 24px;
    padding: 16px;
}

.bottom-text {
    padding-bottom: 16px;
}

.footer {
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

