@font-face {
    font-family: "Ubuntu";
    src: url("/home/cmonica/Downloads/fonts/UbuntuMono-R.ttf") format("ttf");
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu";
    margin: 0;
}

.header {
    display: flex;
    height: 8vh;
    width: auto;
    padding: 0 64px;
    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106);
    align-items: center;
    justify-content: space-between;
}

ul {
    padding: 0;
}

.links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    color: rgb(233, 196, 106);
    text-decoration: none;
}